page-advanced-search {
  #body {
    background-image: url(../assets/imgs/background.jpg);
    background-size: cover;
    background-repeat:no-repeat;

    width:100%;
  }
  container{
    z-index: -999;
  }

  #form{
    margin-top: 150px;
  }

  #btnlogin{
    background-color: #54dac1;
  }

  #profilepic{
    border-radius: 50%;
    display: block;
    margin-left: 75%;
    margin-right: auto;
    width: 20%;
  }


  container{
    z-index: -999;
  }

}
